.contact {
  margin: 0 auto;
  max-width: 1184px;
  padding-bottom: 128px;

  &__title {
    margin: 0;
    padding-top: 132px;
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 80px;
      background: #0593fb;
      border-radius: 8px;
      margin-bottom: 24px;
    }
  }

  &__description {
    padding-top: 16px;
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
    max-width: 580px;
  }

  &__email {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #0593fb;
    text-decoration: none;
    border-bottom: 2px solid #0593fb;
    padding-bottom: 8px;
  }
}
