.contact {
  margin: 0 auto;
  max-width: 1216px;
  padding: 0 16px 8rem;

  &__title {
    margin: 0;
    padding-top: 8.25rem;
    color: $white;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    &::before {
      content: "";
      display: block;
      height: 0.125rem;
      width: 5rem;
      background: $light-blue;
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    padding-top: 1rem;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $white;
    font-weight: 300;
    max-width: 36.25rem;
  }

  &__email {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $light-blue;
    text-decoration: none;
    border-bottom: 0.125rem solid $light-blue;
    padding-bottom: 0.5rem;
  }
}
