.hero {
  max-width: 1184px;
  padding: 112px 0 184px;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__image {
    width: 108px;
    height: 108px;
    border: 4px solid #cbd2d9;
    border-radius: 70px;
    padding: 2px;
  }
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    max-width: 781px;
    margin: 32px 0 16px;
  }
  &__description {
    max-width: 681px;
    color: $grey;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 60px;
  }
  &__email {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: $light-blue;
    text-decoration: none;
    padding: 0 0 8px;
    border-bottom: 2px solid $light-blue;
  }
  &__link {
    color: $light-blue;
  }
}
