.hero {
  max-width: 1216px;
  padding: calc(8rem - 16px) 16px 11.5rem;
  margin: 0 auto;
  @media (max-width: $mobile) {
    padding: 64px 16px 120px;
  }
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

  &__image {
    width: 120px;
    height: 120px;
    border: 0.25rem solid $light-gray;
    border-radius: 4.375rem;
    padding: 0.125rem;
    @media (max-width: $mobile) {
      width: 80px;
      height: 80px;
    }
  }
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
    max-width: 48.875rem;
    margin: 2rem 0 1rem;
  }
  &__description {
    max-width: 42.625rem;
    color: $grey;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 3.75rem;
  }
  &__email {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    color: $light-blue;
    text-decoration: none;
    padding: 0 0 0.5rem;
    border-bottom: 0.125rem solid $light-blue;
  }
  &__link {
    color: $light-blue;
  }
}
