.projects {
  padding: 8rem 0 0;
  margin-top: 10.5rem;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background: $alice-blue;
  @media (max-width: $mobile) {
    margin-top: 80px;
    padding: 80px 0 0;
  }
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0;
  }
  &__description {
    margin: 1rem 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $grey;
    max-width: 36.25rem;
    padding: 0 0 4rem;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project {
  background: $white;
  box-shadow: 0 0.375rem 1rem rgba(24, 41, 67, 0.09);
  border-radius: 0.5rem;
  overflow: hidden;
  &__container {
    padding: 3rem;
  }
  &__footer {
    display: flex;
    background: $alice-blue;
    justify-content: flex-end;
    align-items: center;
  }
  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0;
    padding: 1.125rem 0 0;
  }
  &__description {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0;
    padding: 0.5rem 0 0;
    color: $grey;
  }
  &__link {
    padding: 1rem 1.5rem 1rem 0;
    color: $light-blue;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    display: inline-flex;
    align-items: center;
    & + & {
      position: relative;
      margin: 0 1.5rem;
      &::after {
        position: absolute;
        left: -1.625rem;
        content: "";
        display: block;
        width: 0.125rem;
        height: 2rem;
        background: $light-gray;
      }
    }

    &::before {
      margin-right: 0.5rem;
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../../assets/img/pc.icon.svg");
    }
    &--git::before {
      background: url("../../assets/img/console.icon.svg");
    }
  }
}
