.projects {
  padding: 128px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: $alice-blue;
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }
  &__description {
    margin: 16px 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: $grey;
    max-width: 580px;
    padding: 0 0 64px;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project {
  background: $white;
  box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
  border-radius: 8px;
  overflow: hidden;
  &__container {
    padding: 48px;
  }
  &__footer {
    display: flex;
    background: $alice-blue;
    justify-content: flex-end;
    align-items: center;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    padding: 18px 0 0;
  }
  &__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    padding: 8px 0 0;
    color: $grey;
  }
  &__link {
    padding: 16px 24px 16px 0;
    color: $light-blue;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    display: inline-flex;
    align-items: center;
    & + & {
      position: relative;
      margin: 0 24px;
      &::after {
        position: absolute;
        left: -26px;
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        background: $light-gray;
      }
    }

    &::before {
      margin-right: 8px;
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../../assets/img/pc.icon.svg");
    }
    &--git::before {
      background: url("../../assets/img/console.icon.svg");
    }
  }
}
