.skills {
  max-width: 1216px;
  padding: 0 16px;
  margin: 0 auto;

  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    padding: 1rem 0;
    border-bottom: 0.125rem solid $sauvignon;
    margin-bottom: 6.875rem;
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
}

.skills-list {
  display: grid;
  padding: 8rem 0 0;
  grid-template-columns: 1fr 1fr;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  column-gap: 0.5rem;
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    padding: 5rem 0 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-top: 1.75rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    list-style: none;
  }

  &__item {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: $grey;
    min-height: 2.5rem;
    padding: 0.75rem 0 0.75rem 1.375rem;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: 0.75rem;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      margin: 0;
      background: url("../../assets/img/green.svg");
      .skills-list--violet & {
        background: url("../../assets/img/violet.svg");
      }
      .skills-list--blue & {
        background: url("../../assets/img/blue.svg");
      }
      @media (max-width: $mobile) {
        width: 12px;
        height: 12px;
        background: url("../../assets/img/green-mobile.svg");
        .skills-list--blue & {
          background: url("../../assets/img/blue-mobile.svg");
        }
        .skills-list--violet & {
          background: url("../../assets/img/violet-mobile.svg");
        }
      }
    }
  }
  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    &::before {
      content: "";
      display: block;
      width: 5rem;
      height: 0.25rem;
      border-radius: 0.5rem;
      background: $green;
      margin-bottom: 1.5rem;
      .skills-list--violet & {
        background: $violet;
      }
      .skills-list--blue & {
        background: $blue;
      }
    }
  }
}
