@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/footer.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: $mobile) {
    font-size: 11px;
  }
}
body {
  color: $dark-blue;
  background: white;
  font-family: Poppins;
  border: 16px solid $dark-blue;
  @media (max-width: $mobile) {
    border: none;
  }
}
.container {
  max-width: 1216px;
  padding: 0 16px;
  margin: 0 auto;
}
footer {
  background: $dark-blue;
}
